/*noinspection ALL,CssUnusedSymbol*/
.root {
  -fx-font-size: 30pt;
  -fx-font-family: "Roboto";
  -fx-background-color: #818181;

}

#title {
  -fx-font: 40pt "Roboto";
  -fx-font-family: "Roboto";

}

#resetStats {
 -fx-font: 20pt "Roboto";
}

.button {
  -fx-font-size: 10pt;
  -fx-text-fill: black;
}

